<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>

<ul>
    <% postList.results.forEach(function(post) {%>
        <li class="post-content">
            <div class="post-img"><img alt = "This is a lovely image" src= <%= post.imageUrl %> /></div>
            <div class="post-date"><%= format(post.createdAt, "dd/MM/yyyy") %></div>
            <div class="post-msg"><%= post.id %> - <%= post.message %></div>
            <div class="button">
                <form method="post" action="/posts/<%= post.id %>/like/"> 

                    <!--insert the like icon-->
                    <button id="like-button"><i class="fa-regular fa-thumbs-up"></i></button>
                </form>

                <form method="post" action="/posts/<%= post.id %>/dislike/">
                    
                    <!--insert the dislike icon-->
                    <button id="dislike-button"><i class="fa-regular fa-thumbs-down"></i></button>
                </form>
            </div>
        </li>
    <% }); %>
</ul>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>