<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>

<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
            //can we add the image directly instead of the url?
            <%= post.id %> - <%= post.message %> - <%= post.imageUrl %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %>
        </li>
    <% }); %>
</ol>

</body>
<%- include('_footer') -%>
</html>