<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>


<p id="unique">User1's Posts</p>

<!-- for test1 -->
<button id="test">test</button>

<ul class="post-list">
    <% postList.results.forEach(function(post) {%>
        <li class="post-content">
            <div class="post-img"><img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'" alt = "This is a lovely image" src= <%= post.imageUrl %> /></div>
            <div class="post-date"><%= format(post.createdAt, "dd/MM/yyyy") %></div>
            <div class="post-msg"><%= post.id %> - <%= post.message %></div>
            <div class="button">
                <form class="like" method="post" action="/posts/<%= post.id %>/like/"> 

                    <!--insert the like icon-->
                    <button id="like-button"><i class="fa-regular fa-thumbs-up"></i></button>
                </form>

                <form class="dislike" method="post" action="/posts/<%= post.id %>/dislike/">
                    
                    <!--insert the dislike icon-->
                    <button id="dislike-button"><i class="fa-regular fa-thumbs-down"></i></button>
                </form>
            </div>
        </li>
    <% }); %>
</ul>
<%if (postList.next) { %>
    <button class="btn next"><a href="<%= postList.next %>">Next</a></button>
<% } %>
<%if (postList.previous) { %>
    <button class="btn previous"><a href="<%= postList.previous %>">Previous</a></button>
<% } %>
</body>
<%- include('_footer') -%>
</html>