<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>

<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
      
            <%= post.id %> - <%= post.message %> - <img alt = "This is a lovely image" src= <%= post.imageUrl %>/> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %>
            <form method="post" action="/posts/<%= post.id %>/like/"> 
                <button>Like</button>
            </form>
    
            <form method="post" action="/posts/<%= post.id %>/dislike/">
                <button>Dislike</button>
            </form>
        </li>
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>