<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
        <main>


            <section class="user-profile">
                <img class="profile-image" alt="user's profile image" src="<%=profileImageUrl %>">
                <img class="cover-image" alt="user's cover image" src="<%=coverImageUrl %>">
                <div class="user-info">
                    <h2 class="name"><%= name%></h2>
                    <div class="nick-name"><%= username%></div>
                    <div class="email"><%= email%></div>
                </div>
            </section>

            <section class="user-post">
                <h3 id="user-post-title">
                    <%= name %>'s posts
                </h3>

                <ul class="user-post-list">
                    <% for(let i=0; i<6; i++){%>
                        <li id="user-post-item">
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" 
                                    src=<%=posts[i].imageUrl %> />
                            </div>

                            <div class="post-date">
                                <%= posts[i].createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= posts[i].id %> - <%= posts[i].message %>
                            </div>
                        </li>
                    <% };%>

                </ul>


            </section>


            <section class="user-like">
                <h3 id="user-likes-title">
                    <%= name %> liked
                </h3>
                <ul class="user-likes-list">
                    <% for(let i=0; i<6; i++){%>
                        <li id="user-likes-item">
                            <!-- display the post that the user liked -->
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" src=<%=likes[i].imageUrl %> />
                            </div>
                            <div class="post-date">
                                <%= likes[i].createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= likes[i].id %> - <%= likes[i].message %>
                            </div>
                        </li>

                        <% }; %>
                </ul>

            </section>

            <section class="user-dislike">
                <h3 id="user-dislikes-title">
                    <%= name %> disliked
                </h3>
                <ul class="user-dislikes-list">
                    <% for(let i=0; i<6; i++){%>
                        <li id="user-dislikes-item">
                            <!-- display the post that the user liked -->
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" src=<%=dislikes[i].imageUrl %> />
                            </div>
                            <div class="post-date">
                                <%= dislikes[i].createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= dislikes[i].id %> - <%= dislikes[i].message %>
                            </div>
                        </li>

                        <% }; %>
                </ul>

            </section>
        </main>
        </body>
        <%- include('_footer') -%>

</html>