<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <main>
        <h1>All Users</h1>
        <ul class="user-list">
            <% for (let i=0;i<9;i++){%>
                <li class="user-list-item">
                    <a href="/users/<%= results[i].id %>"><img src=<%=results[i].profileImageUrl %>></a>
                    <a class="user-link" href="/users/<%= results[i].id %>"><%= results[i].name %></a>
                </li>
            <% }; %>
        </ul>
        <%if (next) { %>
            <a href="<%= next %>">Next</a>
        <% } %>
        <%if (previous) { %>
            <a href="<%= previous %>">Previous</a>
        <% } %>
    </main>
</body>
<%- include('_footer') -%>
</html>