<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>
                <%= name %>
            </h1>

            <section class="user-post">
                <h3 id="user-post-title">
                    <%= name %>'s posts
                </h3>

                <ul class="user-post-list">
                    <% for(let i=0; i<6; i++){%>
                        <li id="user-post-item">
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" 
                                    src=<%=posts[i].imageUrl %> />
                            </div>

                            <div class="post-date">
                                <%= posts[i].createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= posts[i].id %> - <%= posts[i].message %>
                            </div>
                        </li>
                    <% };%>

                </ul>


            </section>


            <section class="user-like">
                <h3 id="user-likes-title">
                    <%= name %> liked
                </h3>
                <ul class="user-likes-list">
                    <% likes.forEach(function(post) {%>
                        <li id="user-likes-item">
                            <!-- display the post that the user liked -->
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" src=<%=post.imageUrl %> />
                            </div>
                            <div class="post-date">
                                <%= post.createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= post.id %> - <%= post.message %>
                            </div>
                        </li>

                        <% }); %>
                </ul>

            </section>

            <section class="user-dislike">
                <h3 id="user-dislikes-title">
                    <%= name %> disliked
                </h3>
                <ul class="user-dislikes-list">

                    <% dislikes.forEach(function(post) {%>
                        <li id="user-dislikes-item">
                            <!-- display the post that the user liked -->
                            <div class="post-img">
                                <img onerror="this.src='https://cdn-multicoat-com.sfo2.digitaloceanspaces.com/wp-content/uploads/2018/08/02232112/placeholder.jpg'"
                                    alt="This is a lovely image" src=<%=post.imageUrl %> />
                            </div>
                            <div class="post-date">
                                <%= post.createdAt, "yyyy-MM-dd HH:mm:ss" %>
                            </div>
                            <div class="post-msg">
                                <%= post.id %> - <%= post.message %>
                            </div>
                        </li>

                        <% }); %>
                </ul>

            </section>
        </body>
        <%- include('_footer') -%>

</html>