<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<main>
<h1>Users</h1>
<ol>
    
    <% results.forEach(function(user) {%>
        <li>
            <a href="/users/<%= user.id %>"><%= user.name %></a>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</main>
</body>
<%- include('_footer') -%>
</html>